@reference '../../src/main.css';

[data-component-id="mercury:sidebyside_hero"] {
  /* @todo Add your styles here. */
  &.sidebyside-hero {
    display: flex;
  }

  &.layout--media-first {
    flex-direction: row;
  }

  &.layout--media-last {
    flex-direction: row-reverse;
  }

  .hero-region {
    outline: 1px dotted red;
    flex: 1;
  }
}

.sidebyside-hero {
  @apply grid gap-4 md:gap-6 grid-cols-1 md:grid-cols-2;
}

