@reference '../../src/main.css';

.sb-main-padded:has(.storybook-component--tile-logo) {
  padding: 0;
}

.storybook-component--tile-logo {
  max-width: 300px;
  padding: 1rem;
}

.storybook-component--tile-logo:has(.color-mode--dark) {
  @apply bg-black;
}
