@reference '../../src/main.css';

@layer components {

  .footer-menu {
    background-color: var(--main-bg-color);

    .parent-link,
    .below-link {
      @apply hg:hover:underline;
      color: var(--menu-link-color);

      &:hover,
      &:focus {
        color: var(--menu-link-color-hover);
      }
    }
  }

  .footer-menu .parent-link {
    @apply hg:text-2xl;
  }

  .footer-menu .below-link {
    @apply hg:text-xl;
  }
}
