@reference '../../src/main.css';

/* Storybook specific */
.storybook-component--card {
  @apply hg:p-4 hg:max-w-md;
}
.storybook-component--card:has(.card.is-landscape) {
  @apply hg:max-w-2xl;
}

@layer components {

  .card {
    @apply hg:bg-(--hgc-card-bg);

    &:hover,
    &:focus {
      --hgc-card-bg: var(--hgc-card-bg-hover);
    }

    &.is-framed {
      --hgc-card-bg: var(--hgc-card-framed-bg);

      &:hover,
      &:focus {
        --hgc-card-bg: var(--hgc-card-framed-bg-hover);
      }
    }

    &.is-featured {
      --hgc-card-bg: var(--hgc-card-featured-bg);

      &:hover,
      &:focus {
        --hgc-card-bg: var(--hgc-card-featured-bg-hover);
      }
    }


    .views-row & {
      @apply hg:h-full;
    }

    .mercury-scheme--vanilla-light &.is-framed,
    .mercury-scheme--byte-light &.is-framed,
    .mercury-scheme--vanilla-light &.is-featured,
    .mercury-scheme--byte-light &.is-featured {
      @apply hg:shadow-lg;

      &:hover,
      &:focus {
        @apply hg:shadow-black/40;
      }
    }
  }

  .card .card--media {
    @apply hg:aspect-video
  }

  .card.is-stacked .card--media {
    @apply hg:aspect-video hg:overflow-hidden;
  }

  .card.is-landscape .card--media {
    @apply hg:aspect-video hg:md:aspect-auto hg:md:flex-[0_1_50%] hg:overflow-hidden;
  }

  .card.is-landscape .card--content {
    @apply hg:md:flex-[0_1_50%] hg:md:py-4;
  }

  .card--content .heading {
    @apply hg:font-semibold;
  }

  .card--content p {
    @apply hg:font-(--hgc-font-weight-h3) hg:text-lg hg:xl:text-xl;
  }

  .card--content p {
    @apply hg:font-(--hgc-font-weight-p) hg:text-lg hg:xl:text-xl;
  }

  .card:not(:has(.badge)) .heading a {
    @apply hg:after:absolute hg:after:inset-0 hg:after:content-[''];
  }
}
