@reference '../../src/main.css';

.sb-main-padded:has(.storybook-component--button) {
  padding: 0;
}

.storybook-component--button {
  padding: 1rem;
}

.storybook-component--button:has(.color-mode--dark) {
  @apply hg:bg-black;
}

button.button {
  cursor: pointer;
}

.button {
  @apply hg:font-medium hg:text-xl hg:w-fit hg:border hg:pt-[8px] hg:pb-[9px] hg:no-underline hg:hover:no-underline;
}

.button--fill {
  @apply hg:border-brand hg:bg-brand hg:text-white hg:hover:bg-brand-dark hg:hover:border-brand-dark hg:hover:text-white;
}

.button--fill-dark {
  @apply hg:border-brand hg:bg-brand hg:text-gray-lightest hg:hover:bg-brand-light hg:hover:border-brand-light hg:hover:text-brand-dark;
}

.button--fill-light {
  @apply hg:border-brand-light hg:bg-brand-light hg:text-brand-dark hg:hover:bg-brand-dark hg:hover:border-brand-dark hg:hover:text-white;
}

.button--fill-accent {
  @apply hg:border-accent hg:bg-accent hg:text-white hg:hover:bg-accent-dark hg:hover:border-accent-dark hg:hover:text-white;
}

.color-mode--dark .button--fill,
.button--fill.color-mode--dark {
  @apply hg:border-brand-light hg:bg-brand-light hg:text-brand hg:hover:bg-white hg:hover:border-white hg:hover:text-black;
}

.color-mode--dark .button--fill-accent,
.button--fill-accent.color-mode--dark {
  @apply hg:border-accent hg:bg-accent hg:text-white hg:hover:bg-white  hg:hover:border-white  hg:hover:text-accent;
}

.button--outline {
  @apply hg:border-brand hg:bg-white hg:text-brand hg:hover:bg-brand hg:hover:border-brand hg:hover:text-white;
}

.button--outline-accent {
  @apply hg:border-accent hg:bg-white hg:text-accent hg:hover:bg-accent hg:hover:border-accent hg:hover:text-white;
}

.color-mode--dark .button--outline,
.button--outline.color-mode--dark {
  @apply hg:border-white hg:bg-transparent hg:text-white hg:hover:bg-white hg:hover:border-white hg:hover:text-brand;
}

.color-mode--dark .button--outline-accent,
.button--outline-accent.dark-mode {
  @apply hg:border-accent hg:bg-transparent hg:text-accent hg:hover:bg-accent hg:hover:border-accent hg:hover:text-white;
}

.button--fill[aria-disabled="true"],
.button--fill-accent[aria-disabled="true"],
.button--fill[disabled],
.button--fill-accent[disabled] {
  @apply hg:border-gray-light hg:bg-gray-light hg:text-white hg:hover:bg-gray-light hg:hover:border-gray-light hg:hover:text-white;
  cursor: default;
}

.button--outline[aria-disabled="true"],
.button--outline-accent[aria-disabled="true"],
.button--outline[disabled],
.button--outline-accent[disabled] {
  @apply hg:border-gray-light hg:bg-white hg:text-gray-light hg:hover:bg-white hg:hover:border-gray-light hg:hover:text-gray-light;
  cursor: default;
}
