@reference '../../src/main.css';

button.button {
  cursor: pointer;
}

.button {
  &.small .ph-bold {
    @apply hg:h-4 hg:w-4;
  }

  &.medium .ph-bold {
    @apply hg:text-3xl;
  }

  &.large .ph-bold {
    @apply hg:text-4xl;
  }
}

.button--primary-accent {
  --hgc-btn-bg: var(--hg-color-accent);
  --hgc-btn-border: var(--hg-color-accent);
  --hgc-btn-label: var(--hg-color-white);
  --hgc-btn-bg-hover: var(--hg-color-accent-dark);
  --hgc-btn-border-hover: var(--hg-color-accent);
  --hgc-btn-label-hover: var(--hg-color-white);
}

.button--secondary {
  --hgc-btn-bg: var(--hgc-btn-secondary-bg);
  --hgc-btn-border: var(--hgc-btn-secondary-border);
  --hgc-btn-label: var(--hgc-btn-secondary-label);
  --hgc-btn-bg-hover: var(--hgc-btn-secondary-bg-hover);
  --hgc-btn-border-hover: var(--hgc-btn-secondary-border-hover);
  --hgc-btn-label-hover: var(--hgc-btn-secondary-label-hover);

  &:disabled {
    --hgc-btn-bg-disabled: var(--hgc-btn-secondary-bg-disabled);
    --hgc-btn-border-disabled: var(--hgc-btn-secondary-border-disabled);
    --hgc-btn-label-disabled: var(--hgc-btn-secondary-label-disabled);
    --hgc-btn-bg-hover: var(--hgc-btn-secondary-bg-disabled);
    --hgc-btn-border-hover: var(--hgc-btn-secondary-border-disabled);
    --hgc-btn-label-hover: var(--hgc-btn-secondary-label-disabled);
  }
}

.button--negative {
  --hgc-btn-bg: var(--hgc-btn-negative-bg);
  --hgc-btn-border: var(--hgc-btn-negative-border);
  --hgc-btn-label: var(--hgc-btn-negative-label);
  --hgc-btn-bg-hover: var(--hgc-btn-negative-bg-hover);
  --hgc-btn-border-hover: var(--hgc-btn-negative-border-hover);
  --hgc-btn-label-hover: var(--hgc-btn-negative-label-hover);

  &:disabled {
    --hgc-btn-bg-disabled: var(--hgc-btn-negative-bg-disabled);
    --hgc-btn-border-disabled: var(--hgc-btn-negative-border-disabled);
    --hgc-btn-label-disabled: var(--hgc-btn-negative-label-disabled);
    --hgc-btn-bg-hover: var(--hgc-btn-negative-bg-disabled);
    --hgc-btn-border-hover: var(--hgc-btn-negative-border-disabled);
    --hgc-btn-label-hover: var(--hgc-btn-negative-label-disabled);
  }
}

.button--secondary-accent {
  --hgc-btn-bg: var(--hg-color-body-bg);
  --hgc-btn-border: var(--hg-color-accent);
  --hgc-btn-label: var(--hg-color-white);
  --hgc-btn-bg-hover: var(--hg-color-accent-light);
  --hgc-btn-border-hover: var(--hg-color-accent);
  --hgc-btn-label-hover: var(--hg-color-accent-dark);
}
