@reference '../../src/main.css';

.sb-show-main:has(#storybook-root>.button) {
  padding: 0;
}

#storybook-root:has(.button) {
  padding: 1rem;
}

#storybook-root:has(.button.dark-mode) {
  @apply bg-base-dark;
  padding: 1rem;
}

button.button {
  cursor: pointer;
}

.button {
  @apply w-fit border pt-[8px] pb-[9px] no-underline hover:no-underline;
}

.button-light {
  @apply border-brand-light bg-brand-light text-brand-dark hover:bg-brand-dark hover:border-brand-dark hover:text-base-light;
}

.button-dark {
  @apply border-brand-dark bg-brand-dark text-base-light hover:bg-brand-light hover:border-brand-light hover:text-brand-dark;
}

.button-light.outlined {
  @apply border-brand-light bg-transparent text-base-light hover:bg-brand-light hover:border-brand-light hover:text-brand-dark;
}

.button-dark.outlined {
  @apply border-brand-dark bg-base-light text-brand-dark hover:bg-brand-dark hover:border-brand-dark hover:text-base-light;
}
