@reference '../../src/main.css';

.storybook-component--button {
  padding: 1rem;
}

button.button {
  cursor: pointer;
}

.button {
  @apply hg:font-medium hg:w-fit hg:no-underline hg:hover:no-underline hg:cursor-pointer hg:leading-tight hg:border;
  background-color: var(--hgc-btn-bg);
  color: var(--hgc-btn-label);
  border-color: var(--hgc-btn-border);

  &:hover,
  &:focus {
    background-color: var(--hgc-btn-bg-hover);
    color: var(--hgc-btn-label-hover);
    border-color: var(--hgc-btn-border-hover);
  }

  &.small .ph-bold {
    @apply hg:w-4 hg:h-4;
  }

  &.medium .ph-bold {
    @apply hg:text-3xl;
  }

  &.large .ph-bold {
    @apply hg:text-4xl;
  }
}

.button--primary-accent {
  --hgc-btn-bg: var(--hg-color-accent);
  --hgc-btn-border: var(--hg-color-accent);
  --hgc-btn-label: var(--hg-color-white);
  --hgc-btn-bg-hover: var(--hg-color-accent-dark);
  --hgc-btn-border-hover: var(--hg-color-accent);
  --hgc-btn-label-hover: var(--hg-color-white);
}

.button--secondary {
  --hgc-btn-bg: var(--hgc-btn-secondary-bg);
  --hgc-btn-border: var(--hgc-btn-secondary-border);
  --hgc-btn-label: var(--hgc-btn-secondary-label);
  --hgc-btn-bg-hover:  var(--hgc-btn-secondary-bg-hover);
  --hgc-btn-border-hover: var(--hgc-btn-secondary-border-hover);
  --hgc-btn-label-hover: var(--hgc-btn-secondary-label-hover);
}

.button--secondary-accent {
  --hgc-btn-bg: var(--hg-color-body-bg);
  --hgc-btn-border: var(--hg-color-accent);
  --hgc-btn-label: var(--hg-color-accent);
  --hgc-btn-bg-hover: var(--hg-color-accent-light);
  --hgc-btn-border-hover: var(--hg-color-accent);
  --hgc-btn-label-hover: var(--hg-color-accent-dark);
}

.button--negative {
  --hgc-btn-bg: var(--hg-color-white);
  --hgc-btn-border: var(--hg-color-brand-light);
  --hgc-btn-label: var(--hg-color-gray-dark);
}

/* 
@todo - revise to match new schemes.
.button--fill[aria-disabled="true"],
.button--fill-accent[aria-disabled="true"],
.button--fill[disabled],
.button--fill-accent[disabled] {
  @apply hg:border-gray-light hg:bg-gray-light hg:text-white hg:hover:bg-gray-light hg:hover:border-gray-light hg:hover:text-white;
  cursor: default;
}

.button--outline[aria-disabled="true"],
.button--outline-accent[aria-disabled="true"],
.button--outline[disabled],
.button--outline-accent[disabled] {
  @apply hg:border-gray-light hg:bg-white hg:text-gray-light hg:hover:bg-white hg:hover:border-gray-light hg:hover:text-gray-light;
  cursor: default;
} */
