@reference '../../src/main.css';

.sb-main-padded:has(.storybook-component--button) {
  padding: 0;
}

.storybook-component--button {
  padding: 1rem;
}

.storybook-component--button:has(.color-mode--dark) {
  @apply bg-base-dark;
}

button.button {
  cursor: pointer;
}

.button {
  @apply w-fit border pt-[8px] pb-[9px] no-underline hover:no-underline;
}

.button-fill {
  @apply border-brand bg-brand text-base-light hover:bg-brand-dark hover:border-brand-dark hover:text-base-light;
}

.button-fill-accent {
  @apply border-accent bg-accent text-base-light hover:bg-accent-dark hover:border-accent-dark hover:text-base-light;
}

.color-mode--dark .button-fill,
.button-fill.color-mode--dark {
  @apply border-brand-light bg-brand-light text-brand hover:bg-base-light hover:border-base-light hover:text-base-dark;
}

.color-mode--dark .button-fill-accent,
.button-fill-accent.color-mode--dark {
  @apply border-accent bg-accent text-base-light hover:bg-base-light  hover:border-base-light  hover:text-accent;
}

.button-outline {
  @apply border-brand bg-base-light text-brand hover:bg-brand hover:border-brand hover:text-base-light;
}

.button-outline-accent {
  @apply border-accent bg-base-light text-accent hover:bg-accent hover:border-accent hover:text-base-light;
}

.color-mode--dark .button-outline,
.button-outline.color-mode--dark {
  @apply border-base-light bg-transparent text-base-light hover:bg-base-light hover:border-base-light hover:text-brand;
}

.color-mode--dark .button-outline-accent,
.button-outline-accent.dark-mode {
  @apply border-accent bg-transparent text-accent hover:bg-accent hover:border-accent hover:text-base-light;
}

.button-fill[aria-disabled="true"],
.button-fill-accent[aria-disabled="true"],
.button-fill[disabled],
.button-fill-accent[disabled] {
  @apply border-gray-light bg-gray-light text-base-light hover:bg-gray-light hover:border-gray-light hover:text-base-light;
  cursor: default;
}

.button-outline[aria-disabled="true"],
.button-outline-accent[aria-disabled="true"],
.button-outline[disabled],
.button-outline-accent[disabled] {
  @apply border-gray-light bg-base-light text-gray-light hover:bg-base-light hover:border-gray-light hover:text-gray-light;
  cursor: default;
}
