@reference '../../src/main.css';

.storybook-component--hero-blog {
  @apply hg:outline hg:outline-dotted hg:outline-gray-200 hg:rounded-xs;
}

@layer components {

  .hero-blog {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);

    /* Override global heading sizes:
      - text-5xl
      - md:text-6xl
      - 2xl:text-8xl
    */
    .heading.heading--size-default {
      @apply hg:leading-[1.2];
      --text-8xl: 3.5rem;
      --text-6xl: 3rem;
      --text-5xl: 2.5rem;
    }
  }
}
