@reference '../../src/main.css';

@layer components {
  .hero-blog {
    color: var(--hg-color-body-text);

    .heading.heading--size-default {
      --hg-text-8xl: 3.5rem;
      --hg-text-6xl: 3rem;
      --hg-text-5xl: 2.5rem;
    }

    img {
      @apply hg:overflow-hidden hg:rounded-md;
    }
  }

  .hero-blog--author > a {
    @apply hg:text-body-text;
  }
}
