@reference '../../src/main.css';

.storybook-component--card-events {
  @apply hg:max-w-md;
}

@layer components {

  .card-events {
    background-color: var(--hg-color-body-bg);
    color: var(--hg-color-body-text);
  }

  .card-events .heading {
    @apply hg:font-bold hg:text-brand;
  }

  .card-events--date {
    @apply hg:font-bold hg:text-2xl hg:leading-none;
  }

  .card-events--description,
  .card-events--place {
    @apply hg:text-xl;
  }

  .card-events--place {
    @apply hg:font-semibold;
  }

  .color-mode--light .card-events,
  .color-mode--light.card-events {
    --hg-color-body-text: var(--hg-color-gray-dark);
  }

  .color-mode--dark .card-events .heading,
  .color-mode--dark.card-events .heading {
    @apply hg:text-white;
  }
}
