@reference '../../src/main.css';

/* Storybook specific */
.storybook-component--card-service {
  @apply hg:max-w-md;
}

@layer components {

  .service-card {
    background-color: var(--hg-color-body-bg);
    color: var(--hg-color-body-text);
  }

  .service-card.color-mode--light {
    --hg-color-body-bg: var(--hg-color-gray-lightest);
  }

  .service-card .heading > a {
    @apply hg:before:absolute hg:before:content-[''] hg:before:inset-0;
  }

  .service-card .heading {
    @apply hg:font-light hg:text-5xl;
  }

  .service-card.narrow .service-card--media {
    @apply hg:aspect-[2/1];
  }

  .service-card.rectangle .service-card--media {
    @apply hg:aspect-[5/4];
  }
}
