@reference '../../src/main.css';

.storybook-component--breadcrumb {
  @apply hg:p-3;
}

@layer components {

  .breadcrumb {
    @apply hg:font-medium;
    --hgc-color-breadcrumb: var(--hg-color-gray);
    --hgc-color-breadcrumb-hover: var(--hg-color-black);
    --hgc-color-breadcrumb-active: var(--hg-color-black);

    .mercury-scheme--vanilla-dark & {
      --hgc-color-breadcrumb: var(--hg-color-gray-light);
      --hgc-color-breadcrumb-hover: var(--hg-color-white);
      --hgc-color-breadcrumb-active: var(--hg-color-white);
    }

    .mercury-scheme--byte-light & {
      --hgc-color-breadcrumb: var(--hg-color-gray);
      --hgc-color-breadcrumb-hover: var(--hg-color-black);
      --hgc-color-breadcrumb-active: var(--hg-color-black);
    }

    .mercury-scheme--byte-dark & {
      --hgc-color-breadcrumb: var(--hg-color-white);
      --hgc-color-breadcrumb-hover: var(--hg-color-white);
      --hgc-color-breadcrumb-active: var(--hg-color-accent-light);
    }
  }

  .breadcrumb-items,
  .breadcrumb-item {
    color: var(--hgc-color-breadcrumb);

    a {
      @apply hg:hover:underline hg:focus:underline;
      color: var(--hgc-color-breadcrumb);
  
      &:hover,
      &:focus {
        color: var(--hgc-color-breadcrumb-hover);
      }
    }

    .ph {
      color: currentColor;
    }

    .active {
      color: var(--hgc-color-breadcrumb-active);
    }
  }
}
