@reference '../../src/main.css';

.storybook-component--card-pricing {
  @apply hg:max-w-[300px];
}

@layer components {

  .card-pricing {
    background-color: var(--pricing-card-bg-color);
    border-color: var(--pricing-card-border-color);
    color: var(--main-text-color);

    .columns & {
      height: 100%;
    }

    .card-title {
      @apply hg:font-light hg:text-[2.25rem] hg:leading-tight;
      color: var(--main-heading-color);
    }

    .card-price {
      @apply hg:text-4xl hg:lg:text-5xl hg:2xl:text-[3.15rem] hg:text-brand hg:leading-none;

      sup {
        @apply hg:!text-[60%];
      }
    }

    .card-description {
      @apply hg:text-xl hg:leading-[1.2];
    }

    .button {
      @apply hg:!text-sm;
    }

    &.promote {
      --main-heading-color: var(--hg-color-white);
      --main-text-color: var(--hg-color-white);
      --main-bg-color: var(--pricing-card-bg-color);
      --pricing-card-bg-color: var(--hg-color-brand);
      --pricing-card-border-color: var(--pricing-card-bg-color);

      .card-price {
        @apply hg:text-white;
      }

      .rich-text.color-mode--light {
        --main-text-color: var(--hg-color-white);
      }

      .rich-text.color-mode--dark {
        --main-bg-color: var(--hg-color-brand);
      }

      .button--fill {
        @apply hg:!border-brand-light hg:!bg-brand-light hg:!text-brand-dark hg:hover:!bg-brand-dark hg:hover:!border-brand-dark hg:hover:!text-white;
      }
    }

    &.color-mode--dark {

      .card-price {
        @apply hg:text-white;
      }

      .link--button-outline-light {
        @apply hg:hover:bg-white hg:hover:text-brand-dark;
      }
    }
  }

  .card-pricing--features {
    @apply hg:border-t hg:pt-4;

    li {
      @apply hg:text-xl;
    }
  }
}
