@reference '../../src/main.css';

.storybook-component--card-pricing {
  @apply hg:max-w-[300px] hg:p-4;
}

@layer components {

  .card-pricing {
    background-color: var(--hgc-card-plan-bg);
    border-color: var(--hgc-card-plan-border);
    color: var(--hgc-card-plan-text);

    &.promote {
      background-color: var(--hgc-card-plan-bg-promoted);
      border-color: var(--hgc-card-plan-border-promoted);
      color: var(--hgc-card-plan-text-promoted);
      --hgc-card-plan-price: var(--hgc-card-plan-price-promoted);
      --hgc-card-plan-bg: var(--hgc-card-plan-bg-promoted);
      --hgc-card-plan-title: var(--hgc-card-plan-title-promoted);
    }

    .card-title {
      @apply hg:font-bold hg:text-[1.375rem] hg:leading-tight hg:text-(--hgc-card-plan-title);
    }

    .card-description {
      @apply hg:text-lg hg:leading-[1.2];
    }

    .card-price {
      @apply hg:text-4xl hg:lg:text-5xl hg:2xl:text-[3.15rem] hg:leading-none hg:text-(--hgc-card-plan-price);
      font-family: var(--hgc-font-display);

      sup {
        @apply hg:!text-[60%];
      }
    }

    .card-pricing--features {
      @apply hg:border-t hg:pt-4 hg:text-inherit hg:bg-(--hgc-card-plan-bg);

      li {
        @apply hg:text-base;
      }
    }

    .columns & {
      height: 100%;
    }
  }
}
