[data-component-id="mercury:callout"] {
  
  &.callout {
    background-color: blue;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
  }
  
  .callout__heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .callout__text {
    font-size: 16px;
  }  
}
