@reference '../../src/main.css';

.badge {
  @apply hg:border hg:inline-flex hg:items-center;
  background-color: var(--hg-color-body-bg);
  color: var(--hg-color-body-text);
}

.badge.color-mode--dark:hover,
.badge.color-mode--dark:focus {
  background-color: var(--hg-color-body-text);
  color: var(--hg-color-body-bg);
}

.badge.color-mode--light:hover,
.badge.color-mode--light:focus {
  background-color: var(--hg-color-body-text);
  color: var(--hg-color-body-bg);
}

.badge .badge-label {
  @apply hg:font-body hg:font-normal hg:text-sm hg:leading-none hg:text-inherit hg:select-none;
}

.badge .material-symbols-outlined {
  @apply hg:text-xl/2;
}
