@reference '../../src/main.css';

@layer components;

/* Storybook styles. */
:has(.storybook-component--dropdown-menu),
.storybook-component--dropdown-menu {
  height: 100%;
}

/* Colors, typography, sizes. */

.dropdown-menu {
  --hgc-nav-bg: var(--hg-color-white);
  --hgc-nav-item-text-desktop: var(--hg-color-brand);
  --hgc-nav-item-text-mobile: var(--hg-color-black);
  --hgc-nav-item-hover-text: var(--hg-color-black);
  --hgc-nav-item-hover-bg: var(--hg-color-brand-light);
  --hgc-nav-current-item-bg: var(--hg-color-brand);
  --hgc-nav-current-item-text: var(--hg-color-white);
  --hgc-nav-submenu-border: var(--hg-color-brand-light);
  --hgc-nav-submenu-bg: var(--hg-color-white);
  --hgc-nav-submenu-text: var(--hg-color-black);

  .mercury-scheme--byte-dark & {
    --hgc-nav-current-item-text: var(--hg-color-black);
    --hgc-nav-item-text-mobile: var(--hg-color-white);
    --hgc-nav-submenu-bg: var(--hg-color-black);
  }

  @apply hg:bg-body-bg;
}

.dropdown-menu__item {
  @apply hg:text-base hg:font-medium;
}

.dropdown-menu__link,
.dropdown-menu__expand-button {
  @apply hg:text-(--hgc-nav-item-text-mobile) hg:sm:text-(--hgc-nav-item-text-desktop);
  &:hover,
  &:active,
  &:focus {
    @apply hg:bg-(--hgc-nav-item-hover-bg) hg:text-(--hgc-nav-item-hover-text);
  }
}

.dropdown-menu__item--active-trail:not(:has(.dropdown-menu__item--active-trail)) {
  > .dropdown-menu__link {
    @apply hg:bg-(--hgc-nav-current-item-bg) hg:text-(--hgc-nav-current-item-text);
  }
}
.dropdown-menu__menu:not([data-level='1']) {
  @apply hg:pl-4 hg:sm:border-1 hg:sm:border-(--hgc-nav-submenu-border) hg:rounded-lg hg:sm:p-3 hg:sm:bg-(--hgc-nav-submenu-bg);
}

.dropdown-menu__link:not([data-level='1']),
.dropdown-menu__expand-button:not([data-level='1']) {
  @apply hg:md:p-2 hg:rounded-sm;
}

.dropdown-menu__link + .dropdown-menu__expand-button {
  @apply hg:w-[44px] hg:flex hg:justify-center hg:items-center hg:sm:w-auto hg:grow-0 hg:shrink-0 hg:basis-auto;
}

.dropdown-menu__expand-button--expanded svg {
  @apply hg:rotate-180;
}

.dropdown-menu__link[data-level='1'] {
  @apply hg:px-3 hg:py-2 hg:rounded-md;

  :has(+ .dropdown-menu__expand-button) {
    @apply hg:pr-1;
  }
}
.dropdown-menu__expand-button[data-level='1'] {
  @apply hg:sm:px-1 hg:sm:py-1 hg:rounded-md;
}

.dropdown-menu__item[data-level='1']:has([aria-expanded='true']) {
  @apply hg:rounded-lg hg:bg-(--hgc-nav-item-hover-bg) hg:text-(--hgc-nav-item-hover-text);

  &,
  .dropdown-menu__item {
    &:not(.dropdown-menu__item--active-trail) {
      > .dropdown-menu__link,
      > .dropdown-menu__expand-button {
        @apply hg:max-sm:text-(--hgc-nav-item-hover-text);
      }
    }
  }
}

/* Top level expand button icons. */
.dropdown-menu__expand-button[data-level='1'] svg {
  @apply hg:sm:rotate-none;
}

.dropdown-menu__expand-button-icon:not([data-level='1']) {
  @apply hg:sm:rotate-270;
}

.dropdown-menu__expand-button-icon > svg {
  @apply hg:w-[18px] hg:max-h-[18px] hg:transition-transform hg:duration-[300ms];
}

.dropdown-menu__expand-button-no-link-title[data-level='1'] {
  @apply hg:px-3 hg:sm:px-0;
}

.dropdown-menu__menu[data-level='1'] {
  @apply hg:gap-2;
}

/* All levels after the first. */
.dropdown-menu__menu:not([data-level='1']) {
  @apply hg:animate-collapse-vertically-and-hide hg:basis-full hg:z-3 hg:hidden hg:scale-y-0 hg:origin-top hg:transition-transform hg:duration-300 hg:list-none hg:sm:absolute hg:sm:left-0;
  display: var(--display-mode, block);
}

.dropdown-menu__link:not([data-level='1']),
.dropdown-menu__expand-button:not([data-level='1']) {
  @apply hg:sm:w-max hg:flex hg:justify-start hg:items-center;
}

.dropdown-menu__expand-button-contents {
  @apply hg:flex hg:justify-between hg:items-center hg:w-full;
}

/* All submenus. */
.dropdown-menu__menu:not([data-level='1']) {
  @apply hg:animate-collapse-vertically-and-hide hg:top-[calc(100%_+_var(--hg-spacing-3))] hg:scale-y-0 hg:origin-top;
  --hgc-display-mode: 'none';
  display: var(--display-mode, block);
}

.dropdown-menu__expand-button--expanded + .dropdown-menu__menu {
  @apply hg:animate-show-and-expand-vertically;
  --hgc-display-mode: invaliddisplay;
}

/* Third-level and greater submenus on desktop. */
.dropdown-menu__menu:not([data-level='1'], [data-level='2']) {
  @apply hg:sm:animate-collapse-horizontally-and-hide hg:sm:top-[calc(var(--hg-spacing-3)_*_-1)] hg:sm:scale-y-100 hg:sm:scale-x-0 hg:sm:origin-left hg:sm:left-[calc(100%_+_var(--hg-spacing-6))] hg:sm:min-h-full;
  --hgc-display-mode: none;
  display: var(--display-mode, block);

  &.dropdown-menu__menu--align-right {
    @apply hg:origin-right hg:left-auto hg:right-full;
  }
}

.dropdown-menu__expand-button--expanded + .dropdown-menu__menu:not([data-level='1'], [data-level='2']) {
  @apply hg:sm:animate-show-and-expand-horizontally;
  --hgc-display-mode: invaliddisplay;
}

/* Increase specificity to override Tailwind directives above. */
.dropdown-menu__expand-button--has-been-opened + .dropdown-menu__menu:is(.a, :not(.a)) {
  animation-duration: 300ms;
}
