@layer components;

/* Colors, typography, sizes. */

.dropdown-menu {
  --hgc-nav-bg: var(--color-white);
  --hgc-nav-item-text-desktop: var(--color-brand);
  --hgc-nav-item-text-mobile: var(--color-black);
  --hgc-nav-item-hover-text: var(--color-white);
  --hgc-nav-item-hover-bg: var(--color-brand);
  --hgc-nav-current-item-bg: var(--color-brand-light);
  --hgc-nav-current-item-text: var(--color-black);
  --hgc-nav-submenu-bg: var(--color-brand-light);
  --hgc-nav-submenu-border: var(--hgc-nav-submenu-bg);
  --hgc-nav-submenu-text: var(--color-black);

  .mercury-scheme--vanilla-dark & {
    --hgc-nav-item-text-desktop: var(--color-white);
    --hgc-nav-item-text-mobile: var(--color-white);
    --hgc-nav-item-hover-bg: var(--color-brand);
    --hgc-nav-item-hover-text: var(--color-white);
    --hgc-nav-submenu-bg: var(--color-brand);
    --hgc-nav-submenu-text: var(--color-white);
    --hgc-nav-current-item-bg: var(--color-brand-dark);
    --hgc-nav-current-item-text: var(--color-white);
  }

  .mercury-scheme--byte-light & {
    --hgc-nav-item-text-desktop: var(--color-brand-dark);
    --hgc-nav-current-item-text: var(--color-brand-dark);
  }

  .mercury-scheme--byte-dark & {
    --hgc-nav-current-item-text: var(--color-black);
    --hgc-nav-item-text-desktop: var(--color-white);
    --hgc-nav-item-text-mobile: var(--color-white);
    --hgc-nav-submenu-bg: var(--color-brand-light);
    --hgc-nav-submenu-text: var(--color-brand);
  }

  @apply bg-body-bg;
}

.dropdown-menu__link,
.dropdown-menu__expand-button {
  &:hover,
  &:active,
  &:focus {
    &:is(.a, :not(.a)) {
      @apply md:bg-(--hgc-nav-item-hover-bg) md:text-(--hgc-nav-item-hover-text);
    }
  }
}

/* Active Trail styling temporarily disabled due to Figma color confusion. */
/*
.dropdown-menu__item--active-trail:not(:has(.dropdown-menu__item--active-trail)) {
  > .dropdown-menu__link {
    @apply bg-(--hgc-nav-current-item-bg) text-(--hgc-nav-current-item-text);
  }
}
*/
.dropdown-menu__menu:not([data-level="1"]) {
  @apply rounded-lg pl-4 md:border-1 md:border-(--hgc-nav-submenu-border) md:bg-(--hgc-nav-submenu-bg) md:p-3;
}

.dropdown-menu__link:not([data-level="1"]),
.dropdown-menu__expand-button:not([data-level="1"]) {
  @apply rounded-sm text-(--hgc-nav-submenu-text) hover:text-(--hgc-nav-submenu-hover-text) md:p-2;
}

.dropdown-menu__link + .dropdown-menu__expand-button {
  @apply flex w-[44px] shrink-0 grow-0 basis-auto items-center justify-center md:w-auto;
}

.dropdown-menu__expand-button--expanded svg {
  @apply rotate-180;
}

.dropdown-menu__link[data-level="1"] {
  @apply rounded-md px-3 py-2 md:px-1;
}

.dropdown-menu__expand-button[data-level="1"] {
  @apply rounded-md md:px-1 md:py-1;
}

.dropdown-menu__expand-button[aria-expanded="true"] {
  @apply text-(--hgc-nav-submenu-text) md:text-(--hgc-nav-item-hover-text);
}

.dropdown-menu__item[data-level="1"]:has([aria-expanded="true"]) {
  @apply rounded-md bg-(--hgc-nav-submenu-bg) text-(--hgc-nav-submenu-text) md:bg-(--hgc-nav-item-hover-bg) md:text-(--hgc-nav-item-hover-text);

  > .dropdown-menu__link {
    @apply text-(--hgc-nav-submenu-text) md:text-(--hgc-nav-item-hover-text);
  }

  /* Active Trail styling temporarily disabled due to Figma color confusion. */
  /*
    &.dropdown-menu__item--active-trail > .dropdown-menu__link {
      @apply text-(--hgc-nav-current-item-text);
    }
  */
}

/* Top level expand button icons. */
.dropdown-menu__expand-button[data-level="1"] svg {
  @apply md:rotate-none;
}

.dropdown-menu__expand-button-icon:not([data-level="1"]) {
  @apply md:rotate-270;
}

.dropdown-menu__expand-button-icon > svg {
  @apply max-h-[18px] transition-transform duration-[300ms];
}

.dropdown-menu__expand-button-no-link-title[data-level="1"] {
  @apply px-3 md:px-0;
}

.dropdown-menu__menu[data-level="1"] {
  @apply gap-2;
}

/* All levels after the first. */
.dropdown-menu__menu:not([data-level="1"]) {
  @apply z-3 hidden basis-full origin-top scale-y-0 animate-collapse-vertically-and-hide list-none transition-transform duration-300 md:absolute md:left-0;
  display: var(--display-mode, block);
}

.dropdown-menu__link:not([data-level="1"]),
.dropdown-menu__expand-button:not([data-level="1"]) {
  @apply flex items-center justify-start md:w-max;
}

/* All submenus. */
.dropdown-menu__menu:not([data-level="1"]) {
  @apply top-[calc(100%_+_var(--spacing)_*_3)] origin-top scale-y-0 animate-collapse-vertically-and-hide;
  --hgc-display-mode: "none";
  display: var(--display-mode, block);
}

.dropdown-menu__expand-button--expanded + .dropdown-menu__menu {
  @apply animate-show-and-expand-vertically;
  --hgc-display-mode: invaliddisplay;
}

/* Third-level and greater submenus on desktop. */
.dropdown-menu__menu:not([data-level="1"], [data-level="2"]) {
  @apply md:top-[calc(var(--spacing)_*_3_*_-1)] md:left-[calc(100%_+_var(--spacing)_*_6)] md:min-h-full md:origin-left md:scale-x-0 md:scale-y-100 md:animate-collapse-horizontally-and-hide;
  --hgc-display-mode: none;
  display: var(--display-mode, block);

  &.dropdown-menu__menu--align-right {
    @apply right-full left-auto origin-right;
  }
}

.dropdown-menu__expand-button--expanded + .dropdown-menu__menu:not([data-level="1"], [data-level="2"]) {
  @apply md:animate-show-and-expand-horizontally;
  --hgc-display-mode: invaliddisplay;
}

/* Increase specificity to override Tailwind directives above. */
.dropdown-menu__expand-button--has-been-opened + .dropdown-menu__menu:is(.a, :not(.a)) {
  animation-duration: 300ms;
}
