@reference '../src/main.css';

/* Global Storybook styles. */

.sbdocs-content:has(.docblock-waterfall) h2 {
  border: 0;
  margin: 36px 0 0;
  padding: 0;
}

.docblock-waterfall {
  margin: 16px 0 0 !important;
}

.docblock-tw-code {
  @apply hg:w-[9%];
  align-items: self-start;
  border: 1px solid rgba(39, 42, 43, 0.15);
  border-right: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem !important;
  justify-content: center;
  padding: 15px 10px 15px 20px !important;
}

.docblock-typeset {
  @apply hg:w-[91%];
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  margin: 0 !important;
  padding: 15px 10px !important;
}

.docblock-typeset > div {
  align-items: center;
  display: flex;
  position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* Component-specific Storybook styles. */

.storybook-component--badge {
  @apply hg:p-2;
}

.storybook-component--breadcrumb {
  @apply hg:p-3;
}

.storybook-component--button {
  padding: 1rem;
}

.storybook-component--card {
  @apply hg:p-4 hg:max-w-md;

  &:has(.card.is-landscape) {
    @apply hg:max-w-2xl;
  }
}

.storybook-component--card-events {
  @apply hg:max-w-md;
}

.storybook-component--card-pricing {
  @apply hg:max-w-[300px] hg:p-4;
}

.storybook-component--card-profile {
  @apply hg:max-w-xs;
}

.storybook-component--card-project {
  @apply hg:max-w-md hg:md:max-w-5xl;
}

.storybook-component--card-testimonial {
  @apply hg:max-w-md;
}

.storybook-component--cta {
  @apply hg:container hg:px-4 hg:mx-auto hg:border-x hg:border-solid hg:border-gray-200;
}

.storybook-component--dialog {
  @apply hg:p-3;
}

.storybook-component--dialog-webform {
  @apply hg:p-3;
}

:has(.storybook-component--dropdown-menu),
.storybook-component--dropdown-menu {
  height: 100%;
}

.storybook-component--footer {
  @apply hg:p-6;
}

.storybook-component--group {
  @apply hg:p-5;
}

.storybook-component--hero-billboard {
  @apply hg:container hg:px-4 hg:mx-auto;
}

#storybook-root:has(.hero-overlay) {
  @apply hg:h-full;
}

.storybook-component--hero-blog {
  @apply hg:container hg:mx-auto;
}

.storybook-component--hero-full-width {
  @apply hg:container hg:px-4 hg:mx-auto;
}

.storybook-component--image {
  @apply hg:max-w-lg;
}

.storybook-component--navbar-search {
  @apply hg:max-w-3xl;
}

.storybook-component--pager {
  @apply hg:p-4;
}

.storybook-component--section {
  @apply hg:p-5;
}

.storybook-component--tile-icon {
  max-width: 300px;
  padding: 1rem;
}

.sb-main-padded:has(.storybook-component--tile-logo) {
  padding: 0;
}

.storybook-component--tile-logo {
  max-width: 300px;
  padding: 1rem;
}

#storybook-root:has(> .collapsible-section) {
  @apply hg:max-w-lg;
}
