@reference '../../src/main.css';

/* Storybook specific */
#storybook-root:has(> .collapsible-section) {
  @apply max-w-lg;
}

.collapsible-section {
  --animate-speed: 500ms;
  @apply bg-gray-lightest border-b-1 border-gray-darkest
}

.collapsible-section--js .collapsible-section--content {
  @apply pb-0 h-0;
}

.collapsible-section--open .collapsible-section--icon {
  rotate: 180deg;
}

.collapsible-section--open .collapsible-section--content {
  @apply pb-2 h-(--natural-height);
}

.collapsible-section--resizing.collapsible-section--open .collapsible-section--content {
  height: auto;
}

.collapsible-section--measuring .collapsible-section--content {
  --animate-speed: 0s;
  height: auto;
}

.collapsible-section--title {
  @apply text-2xl;
}

.collapsible-section--content {
  @apply text-base pb-2;
}
