@reference '../../src/main.css';

/* Base styles before JS gets involved. */
.collapsible-section {
  @apply hg:border-b-1 hg:border-(--hgc-collapsible-border-color) hg:bg-clip-padding;
  background-color: var(--hgc-collapsible-content-bg);
  --animate-speed: 0s;

  &:has(button[aria-expanded="true"]) .collapsible-section--content {
    @apply hg:py-4;
  }

  &:not(:has(+ .collapsible-section)) {
    @apply hg:border-b-0;
  }
}

.collapsible-section--title {
  @apply hg:text-2xl;
  background-color: var(--hgc-collapsible-title-bg);

  &:focus {
    background-color: var(--hgc-collapsible-title-bg-hover);
  }

  .collapsible-section--open & {
    background-color: var(--hgc-collapsible-title-bg-active);
  }

  &:hover {
    background-color: var(--hgc-collapsible-title-bg-hover);
  }
}

.collapsible-section--content {
  @apply hg:h-auto hg:pb-2 hg:text-base;
  color: var(--hgc-collapsible-content-text);

  :first-child {
    @apply hg:mt-0;
  }

  :last-child {
    @apply hg:mb-0;
  }
}

/* Styles involving collapsing/expanding. */
.collapsible-section--js:not(.collapsible-section--open) .collapsible-section--content {
  @apply hg:h-0 hg:pb-0;
}

.collapsible-section--animate {
  --animate-speed: 500ms;
}

.collapsible-section--open {
  .collapsible-section--icon {
    rotate: 180deg;
  }

  .collapsible-section--content {
    @apply hg:h-(--natural-height) hg:pb-2;
  }
}

.collapsible-section--resizing.collapsible-section--open .collapsible-section--content {
  height: auto;
}
