@import 'tailwindcss';

@theme {
  --color-black:         #000000;
  --color-white:         #ffffff;

  --color-gray-lightest: #f3f4f6;
  --color-gray-light:    #d1d5db;
  --color-gray:          #6b7280;
  --color-gray-dark:     #374151;
  --color-gray-darkest:  #111827;

  --color-brand-light:   #eff6ff;
  --color-brand:         #2563eb;
  --color-brand-dark:    #1e3a8a;

  --color-accent-light:  #fce7f3;
  --color-accent:        #ec4899;
  --color-accent-dark:   #9d174d;

  --color-info:          #01a8e4;
  --color-positive:      #00cc41;
  --color-warning: 	     #ffbf00;
  --color-negative: 	   #e60032;

  --color-body:            var(--color-white);

  --menu-link-color: var(--color-gray-darkest);
  --menu-link-color-hover: var(--color-brand);

  --hyperlink-color: var(--color-brand);
  --hyperlink-color-hover: var(--color-brand-dark);

  --font-sans: 'Inter', 'Segoe UI', 'Roboto', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  --font-mono: 'Fira Code', monospace;
  --font-display: Arial;
  --font-body: 'Inter', 'Segoe UI', 'Roboto', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  --font-ui: 'Fira Code', monospace;

  --text-9xl: 7.5rem;               /* 120px */
  --text-9xl--line-height: 1;       /* 120px */

  --text-8xl: 6rem;                  /* 96px */
  --text-8xl--line-height: 1;        /* 96px */

  --text-7xl: 4.5rem;                /* 72px */
  --text-7xl--line-height: 1;        /* 72px */

  --text-6xl: 3.75rem;               /* 60px */
  --text-6xl--line-height: 1;        /* 60px */

  --text-5xl: 3rem;                  /* 48px */
  --text-5xl--line-height: 1.083333; /* 52px */

  --text-4xl: 2.5rem;                /* 40px */
  --text-4xl--line-height: 1.2;      /* 48px */

  --text-3xl: 2rem;                  /* 32px */
  --text-3xl--line-height: 1.3125;   /* 42px */

  --text-2xl: 1.5rem;                /* 24px */
  --text-2xl--line-height: 1.3333;   /* 32px */

  --text-xl: 1.25rem;                /* 20px */
  --text-xl--line-height: 1.5;       /* 30px */

  --text-lg: 1.125rem;               /* 18px */
  --text-lg--line-height: 1.5;       /* 27px */

  --text-base: 1rem;                 /* 16px */
  --text-base--line-height: 1.5;     /* 24px */

  --text-md: var(--text-base);
  --text-md--line-height: var(--text-base--line-height);

  --text-sm: 0.875rem;               /* 14px */
  --text-sm--line-height: 1.5;       /* 21px */

  --text-xs: 0.75rem;                /* 12px */
  --text-xs--line-height: 1.5;       /* 18px */

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --spacing-0: 0px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-7: 28px;
  --spacing-8: 32px;
  --spacing-9: 36px;
  --spacing-10: 40px;
  --spacing-11: 44px;
  --spacing-12: 48px;
  --spacing-14: 56px;
  --spacing-16: 64px;
  --spacing-px: 1px;
}

/* Custom theme classes */
@layer base {

  .material-symbols-outlined {
    font-size: unset;
  }

  body {
    @apply bg-body font-body text-gray-darkest;
  }

  p {
    @apply text-base lg:text-lg 2xl:text-xl text-inherit;
  }

  ul,
  ol {
    @apply text-base lg:text-lg 2xl:text-xl text-inherit list-disc ps-5;
  }

  li {
    @apply text-base lg:text-lg 2xl:text-xl text-inherit;
  }

  /* Set base heading styles since Tailwind sets them to inherit */
  h1 {
    @apply font-normal text-5xl md:text-6xl 2xl:text-8xl leading-none;
  }

  h2 {
    @apply font-normal text-5xl 2xl:text-6xl;
  }

  h3 {
    @apply font-normal text-3xl;
  }

  h4 {
    @apply font-normal text-2xl;
  }

  h5 {
    @apply font-medium text-2xl;
  }

  h6 {
    @apply font-medium text-[20px];
  }

  code,
  pre {
    @apply text-sm text-inherit font-mono;
  }

  small {
    @apply text-sm text-inherit;
  }

  strong,
  b {
    @apply font-semibold text-inherit;
  }

  em,
  i {
    @apply italic text-inherit;
  }

  hr {
    @apply my-4 border-t border-gray;
  }

  table,
  th,
  td {
    @apply text-base lg:text-lg 2xl:text-xl text-inherit;
  }

  sup {
    font-size: 60%;
    top: -0.5em;
    /* ^ match normalize to avoid conflicts. */
  }

  .hide-scrollbar-x::-webkit-scrollbar {
    height: 0px;
  }
  .hide-scrollbar-x {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }

  /* These apply to rich-text blocks only. */
  .rich-text a {
    @apply underline underline-offset-2;
    color: var(--hyperlink-color);
  }

  .rich-text a:hover,
  .rich-text a:focus {
    color: var(--hyperlink-color-hover);
  }

  .rich-text p {
    @apply leading-relaxed my-4;
  }

  .rich-text ul {
    @apply list-disc pl-5 my-4;
  }

  .rich-text ol {
    @apply list-decimal pl-5 my-4;
  }

  .rich-text li {
    @apply mb-1;
  }

  .rich-text h2 {
    @apply  mt-8 mb-4;
  }

  .rich-text h3 {
    @apply mt-6 mb-3;
  }

  .rich-text h4 {
    @apply mt-6 mb-2;
  }

  .rich-text h5 {
    @apply mt-4 mb-2;
  }

  .rich-text h6 {
    @apply mt-4 mb-2;
  }
}

/* Classes for light/dark color modes. */
@layer components {

  .color-mode--dark {
    --main-bg-color: var(--color-gray-darkest);
    --main-heading-color: var(--color-brand-light);
    --main-text-color: var(--color-white);
    --menu-link-color: var(--color-white);
    --menu-link-color-hover: var(--color-brand-light);
    --hyperlink-color: var(--color-blue-100);
    --hyperlink-color-hover: var(--color-white);
    --card-bg: var(--color-gray-dark);
    --card-text-color: var(--color-white);
    --pricing-card-bg-color: var(--color-gray-darkest);
    --pricing-card-border-color: var(--pricing-card-bg-color);
  }

  .color-mode--light {
    --main-bg-color: transparent;
    --main-heading-color: var(--color-brand);
    --main-text-color: var(--color-gray-darkest);
    --menu-link-color: var(--color-gray-darkest);
    --menu-link-color-hover: var(--color-brand);
    --hyperlink-color: var(--color-brand);
    --hyperlink-color-hover: var(--color-brand-dark);
    --card-bg: var(--color-gray-light);
    --card-text-color: var(--color-gray-darkest);
    --pricing-card-bg-color: var(--color-white);
    --pricing-card-border-color: var(--color-gray-darkest);
  }
}

@layer utilities {
  .bg-gray-lightest { background-color: var(--color-gray-lightest); }
  .bg-gray-light { background-color: var(--color-gray-light); }
  .bg-gray-dark { background-color: var(--color-gray-dark); }
  .bg-gray-darkest { background-color: var(--color-gray-darkest); }
  .bg-brand-light { background-color: var(--color-brand-light); }
  .bg-brand-dark { background-color: var(--color-brand-dark); }
  .bg-accent-light { background-color: var(--color-accent-light); }
  .bg-accent-dark { background-color: var(--color-accent-dark); }
  .text-gray-lightest { color: var(--color-gray-lightest); }
  .text-gray-light { color: var(--color-gray-light); }
  .text-gray-dark { color: var(--color-gray-dark); }
  .text-gray-darkest { color: var(--color-gray-darkest); }
  .text-brand-light { color: var(--color-brand-light); }
  .text-brand-dark { color: var(--color-brand-dark); }
  .text-accent-light { color: var(--color-accent-light); }
  .text-accent-dark { color: var(--color-accent-dark); }
  .border-gray-lightest { border-color: var(--color-gray-lightest); }
  .border-gray-light { border-color: var(--color-gray-light); }
  .border-gray-dark { border-color: var(--color-gray-dark); }
  .border-gray-darkest { border-color: var(--color-gray-darkest); }
  .border-brand-light { border-color: var(--color-brand-light); }
  .border-brand-dark { border-color: var(--color-brand-dark); }
  .border-accent-light { border-color: var(--color-accent-light)}
  .border-accent-dark { border-color: var(--color-accent-dark)}
}

/* Custom overrides placed outside @layer to ensure they load last and override external styles */
.icon-5xl {
  font-size: var(--text-5xl);
}
