@layer components;

.mercury-scheme--vanilla-dark {
  --hg-color-body-bg: var(--hg-color-black);
  --hg-color-body-text: var(--hg-color-white);

  --hgc-main-heading-color: var(--hg-color-brand-light);
  --hgc-menu-link-color: var(--hg-color-white);
  --hgc-menu-link-color-hover: var(--hg-color-brand-light);
  --hgc-hyperlink-color: var(--hg-color-blue-100);
  --hgc-hyperlink-color-hover: var(--hg-color-white);
  --hgc-card-bg: var(--hg-color-gray-dark);
  --hgc-card-text-color: var(--hg-color-white);
  --hgc-pricing-card-bg-color: var(--hg-color-gray-darkest);
  --hgc-pricing-card-border-color: var(--hgc-pricing-card-bg-color);
}

.mercury-scheme--byte-light {

  --hgc-main-heading-color: var(--hg-color-brand);
  --hgc-menu-link-color: var(--hg-color-gray-darkest);
  --hgc-menu-link-color-hover: var(--hg-color-brand);
  --hgc-hyperlink-color: var(--hg-color-brand);
  --hgc-hyperlink-color-hover: var(--hg-color-brand-dark);
  --hgc-card-bg: var(--hg-color-gray-light);
  --hgc-card-text-color: var(--hg-color-gray-darkest);
  --hgc-pricing-card-bg-color: var(--hg-color-white);
  --hgc-pricing-card-border-color: var(--hg-color-gray-darkest);

}

.mercury-scheme--byte-dark {
  --hg-color-brand-light:   #cdfbf1;
  --hg-color-brand:         #01d5be;
  --hg-color-brand-dark:    #0c4f4a;

  --hg-color-accent-light:  #cad5e2;
  --hg-color-accent:        #1d283d;
  --hg-color-accent-dark:   #050819;

  --hg-color-body-bg:       #1f2937;
  --hg-color-body-text:     #ffffff;

  --hgc-radius-sm: 0;

  --hg-font-display: 'Outfit', 'Segoe UI', 'Roboto', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  --hg-font-body:    'Inter', 'Segoe UI', 'Roboto', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, Helvetica, sans-serif;

  --hgc-menu-link-color:       #1f2937;
  --hgc-menu-link-color-hover: #1d4ed8;

  --hgc-hyperlink-color:       #1d4ed8;
  --hgc-hyperlink-color-hover: #172554;

  --hgc-main-heading-color: var(--hg-color-brand-light);

  --hgc-menu-link-color: var(--hg-color-white);
  --hgc-menu-link-color-hover: var(--hg-color-brand-light);

  --hgc-hyperlink-color: var(--hg-color-blue-100);
  --hgc-hyperlink-color-hover: var(--hg-color-white);

  --hgc-card-bg: var(--hg-color-gray-dark);
  --hgc-card-text-color: var(--hg-color-white);

  --hgc-pricing-card-bg-color: var(--hg-color-gray-darkest);
  --hgc-pricing-card-border-color: var(--hgc-pricing-card-bg-color);

  --hgc-tile-logo-bg: #536487;

  --hgc-collapsible-bg: var(--hgc-card-bg);
  --hgc-collapsible-border: var(--hg-color-brand-dark);


}
