@layer components;

.mercury-scheme--vanilla-light {

}

.mercury-scheme--vanilla-dark {

}

.mercury-scheme--byte-light {

}

.mercury-scheme--byte-dark {
  --hgc-color-gray-lightest: #f3f4f6;
  --hgc-color-gray-light:    #d1d5db;
  --hgc-color-gray:          #6b7280;
  --hgc-color-gray-dark:     #1f2937;
  --hgc-color-gray-darkest:  #030712;

  --hgc-color-brand-light:   #cdfbf1;
  --hgc-color-brand:         #01d5be;
  --hgc-color-brand-dark:    #0c4f4a;

  --hgc-color-accent-light:  #cad5e2;
  --hgc-color-accent:        #1d283d;
  --hgc-color-accent-dark:   #050819;

  --hgc-color-info:          #01a8e4;
  --hgc-color-positive:      #00cc41;
  --hgc-color-warning:       #ffbf00;
  --hgc-color-negative:      #e60032;

  --hgc-color-body-bg:       #1f2937;
  --hgc-color-body-text:     #ffffff;

  --hgc-font-weight-light:    300;
  --hgc-font-weight-normal:   400;
  --hgc-font-weight-medium:   500;
  --hgc-font-weight-semibold: 600;
  --hgc-font-weight-bold:     700;

  --hgc-font-weight-p:  400;
  --hgc-font-weight-h1: 600;
  --hgc-font-weight-h2: 600;
  --hgc-font-weight-h3: 600;
  --hgc-font-weight-h4: 500;
  --hgc-font-weight-h5: 500;
  --hgc-font-weight-h6: 500;

  --hgc-menu-link-color:       #1f2937;
  --hgc-menu-link-color-hover: #1d4ed8;

  --hgc-hyperlink-color:       #1d4ed8;
  --hgc-hyperlink-color-hover: #172554;

  --hgc-radius-sm: 0;

  --hgc-font-sans:    'Outfit', 'Segoe UI', 'Roboto', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  --hgc-font-body:    'Outfit', 'Segoe UI', 'Roboto', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  --hgc-font-mono:    'Fira Mono', 'Menlo', 'Consolas', 'Liberation Mono', monospace;
  --hgc-font-display: 'Outfit', 'Segoe UI', 'Roboto', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
