@reference '../../src/main.css';

.sb-main-padded:has(.storybook-component--tile-icon) {
  padding: 0;
}

.storybook-component--tile-icon {
  max-width: 300px;
  padding: 1rem;
}

.storybook-component--tile-icon:has(.color-mode--dark) {
  @apply hg:bg-black;
}

@layer components {

  .icon-tile * {
    @apply hg:font-normal hg:leading-tight;
  }

  .icon-tile h3 {
    @apply hg:text-3xl;
  }

  .icon-tile p {
    @apply hg:text-xl;
  }
}
