@layer components {
  /* CSS variable-based styling that can't be moved to Twig */
  .icon-tile {
    background-color: var(--hg-page-bg);
    border-color: var(--hgc-tile-border);
    color: var(--hg-page-text);

    .ph {
      color: var(--hgc-tile-icon-color);
    }

    &.has-link {
      .tile-icon--title {
        color: var(--hgc-tile-icon-text-color);
      }

      &:hover,
      &:focus {
        @apply hg:border-(--hgc-tile-border-hover);
        --hgc-tile-icon-text-color: var(--hgc-tile-icon-text-color-hover);
        --hgc-tile-bg: var(--hgc-tile-bg-hover);

        .icon-tile--link--text {
          @apply hg:opacity-100;
        }

        .ph {
          --hgc-tile-icon-color: var(--hgc-tile-icon-color-hover);
        }
      }
    }

    &.has-bg {
      background-color: var(--hgc-tile-bg);
    }
  }

  .icon-tile--title,
  .icon-tile--text .icon-tile--link-title,
  .icon-tile--link--text {
    color: var(--hgc-tile-icon-text-color);
  }
}
